* {
    margin: 0;
    padding: 0;
}

.product {
    clear: both;
    width: 300px;
    height: auto;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 207, 42);
    padding: 20px;
    color: white;
}

.countCart {
    padding: 5px;
    background-color: white;
    color: black;
    margin-left: 10px;
    border-radius: 100px;
}